<ul>
  <li>{{#link-to 'group-by'}}groupBy Computed Property{{/link-to}}</li>
  <li>{{#link-to 'deck'}}Manually Adding Custom Views to CollectionView{{/link-to}}</li>
  <li>{{#link-to 'templateless-components'}}Template-less Components{{/link-to}}</li>
</ul>