<h2>Templateless Components</h2>

<blockquote class="twitter-tweet" lang="en"><p>In ember, you can do {{x-foo}} without a template or Ember.Component behind it, use it liberally when building out your app.</p>&mdash; Ryan Florence (@ryanflorence) <a href="https://twitter.com/ryanflorence/statuses/418828288069361664">January 2, 2014</a></blockquote>